.find-by-world{
    font-size: 100%;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: none;
    color: inherit;
}
.card{
    width: 250px;
    margin: 15px 0;
    box-shadow: 5px 10px 18px #888888;
}
.card:hover{
    transition: 0.3s ease-in-out;
    box-shadow: 10px 15px 23px #888888;
    cursor: pointer;
}
.country-name h1{
    font-size: 150%;
    font-weight: 600;
}
.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search{
    border-radius: 5px;
    box-shadow: 5px 10px 18px #888888;
    outline: #888888;
}

.search > input{
    border: none;
    outline: none;
   box-shadow: none !important;
}
.search img{
    padding: 7px;
    width: 35px;
}
.search:hover{
    transition: 0.3s ease-in-out;
    box-shadow: 10px 15px 23px #888888;

}


#region-options {
    height: 38px;
    width: 218px;
    border: none;
    outline: none;
    padding-left: 11px;
    background-color: white;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 8px;
}

#region-options:hover{
    cursor: pointer;
    transition: 0.3s ease-in-out;
    box-shadow: 10px 15px 23px #888888;

}

@media (min-width:768px) {
    .search{
        width: 33%;
    }
    .cards{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .card{
        /* width: 21%; */
        
        height: 100%;
    }
    .search-filter{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;

    }
    .card-img-top{
        height: 125px;
        width: 100%;
    }
}